/* TODO: style the html */
body {
    background-color: #02475e
}

h2 {
    font-size: 36px;
    color: #fefecc;
    margin: 12px;
    text-align: center;
}

p {
    text-indent: 20px;
    color: #eee;
    font-family: Ariel,sans-serif;
    line-height: 24px;
    padding: 10px;
    text-indent: 30px;
}

div {
    margin-bottom: 30px;
    border-top: 2px solid #fff;  
    text-align: center;
    position: relative;
    top:20px
}

span {
    width: 120px;
    font-size: 14px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top:-11px;
    background-color: #fff;
}