body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

.ul-disc {
    list-style-type: disc;
}

.ul-circle {
    list-style-type: circle;
}

blockquote {
    border-left: rgb(221, 221, 221);
    font-style: italic;
}

th {
    background-color: rgb(63, 81, 87);
}

th,
td {
    width: 30em;
    border: 1px solid #ccc;
}

tr:nth-child(odd) {
    background-color: gray;
}