* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 2em;
}

img {
    width: 10em;
    height: 30em;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px black;
}

.container > img:nth-child(2){
    border: 1em solid black;
    border-bottom: none;
    border-top: none;
    width: 40em;
}