/* TODO: style the html */
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    font-family: Montserrat, sans-serif;
    padding: 1em;
}

th {
    background-color: lightblue;
}

th,
td {
    width: 9em;
    height: 2em;
    border: 1px solid #ccc;
    padding-left: 0.31em;
}