/* TODO: style the html */
body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

h2 {
    color: floralwhite;
    text-decoration: underline;
    margin: 0.55em 0.28em;
    background-color: #3B516B;
    letter-spacing: 0.15em;
    padding: 0.9em;
    border-radius: 0.55em;
}
li {
    margin-left: 1.1em;
}